:root {
  --w-md: 768px;
}

html {
  background-color: #f1f5f9;
  font-family: var(--font-text), sans-serif;
  font-size: 125%;
}

body {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-display);
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0;

  + p {
    margin-top: 1rem;
  }
}

img {
  height: auto;
  width: 100%;
}

/* Strikethrough off on hover */
del {
  text-decoration-color: currentColor;
  transition: text-decoration-color 200ms ease;
}

del:hover {
  text-decoration-color: transparent;
}
