@tailwind base
@tailwind components
@tailwind utilities

:root
  color-scheme: light only

html
  font-family: 'Montserrat', sans-serif
  font-size: 20px
  scroll-behavior: smooth
  scroll-padding-top: 8rem

h1, h2, h3, h4, h5, h6
  font-family: 'Montserrat Alternates', serif

.alternates
  font-family: 'Montserrat Alternates', serif

h1, .h2-as-h1
  @apply text-4xl md:text-7xl

h2
  @apply text-3xl md:text-4xl

h3
  @apply text-2xl

h4
  @apply text-xl

h5
  @apply text-lg

p
  @apply text-base font-normal mb-3

code
  font-size: 0.9rem
  padding: 0.1rem 5px
  background-color: hsl(0, 0%, 25%)
  @apply rounded

a
  @apply underline decoration-2

ul, ol
  @apply mb-3

input[type="text"], input[type="email"], textarea
  @apply px-2 py-1 bg-black border-2 border-current rounded-md

input[type="submit"]
  @apply px-2 py-1 text-black transition-all border-2 rounded-md cursor-pointer hover:border-current hover:bg-black hover:text-white
  &:disabled
    @apply pointer-events-none bg-gray-700 text-gray-400 border-gray-400

small
  @apply leading-tight
