backend:
  name: github
  repo: angelod1as/portfolio

media_folder: static/assets
public_folder: assets

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "_"

collections:
  - name: portfolio
    label: portfolio
    folder: content/portfolio
    create: true
    fields:
      - { name: date, label: Data, widget: date }
      - { name: title, label: Título, widget: string }
      - name: descGroup
        label: Descrições
        widget: object
        fields:
          - { name: desc, label: Descrição curta, widget: string }
          - { name: longdesc, label: Descrição sidebar, widget: text }
      - { name: live, label: Live link, widget: string, required: false }
      - { name: tags, label: Tags, widget: list }
      - { name: image, label: Imagem do menu, widget: image }
      - { name: body, label: Texto, widget: markdown }
      # - name: others
      #   label: Outras
      #   widget: object
  - name: pages
    label: pages
    folder: content
    create: true
    fields:
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - name: descGroup
        label: Descrições
        widget: object
        fields:
          - { name: desc, label: Descrição curta, widget: string }
          - { name: longdesc, label: Descrição sidebar, widget: text }
      - { name: body, label: Texto, widget: markdown }
      - { name: menu, label: Add to menu, widget: boolean, default: true, required: false }
      - { name: category, label: Category, widget: string, required: false }
      - { name: order, label: Ordem, widget: number, required: false }
  - name: menu
    label: menu
    folder: content/menu
    create: true
    fields:
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: body, label: Texto, widget: markdown }
      - { name: order, label: Ordem, widget: number, required: false }